<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <!-- <div class="navbar-header">    </div> -->
            <a href="#"  routerLink="/" class="navbar-brand">Recipe Book</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

        <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarScroll">
            <ul class="nav navbar-nav navbar-nav-scroll">
                <li class="nav-item"><a class="nav-link" href="#">Recipe</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                >

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" role="button" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false">Manage <span class="caret"></span> </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Save Data</a></li>
                        <li><a class="dropdown-item" href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>