<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            New Recipe
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a *ngFor="let recp of repices;" href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">
                   {{ recp.name }}
                </h4>
                <p class="list-group-item-text">
                    {{ recp.description }}
                </p>
            </div>
            <div class="pull-right">
                <img class="img-responsive" [src]="recp.imageUrl" alt="{{ recp.name }}" style="max-height: 100px;" />
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

